body{
  background-image: url("https://space-tourism-multi-page-solution.netlify.app/images/cdf3864ecbfdf20e8c3b.jpg");
  background-size: cover;
  margin: auto;
}
.nav-links{
  align-items:center;
  float: right;
  margin-left:auto;
  margin-top: 50px;
  padding-top: 15px;
  width: 830px;
  display: block;
  background:rgba(255,255,255,.13);
  justify-content:space-around;
  text-transform:uppercase;
  text-decoration:none;
  color:white;
  height: 96px;
  display:flex;

}
.nav__text{
  letter-spacing: 2.5px;
  color: white;
}
.home-a{
margin-left:200px;
position: absolute;
top:280px;
}
nav{
    margin:auto;
}
.logo-img{
margin: 70px auto 50px 50px;
}
hr{
  border-top: none;
  width: 830px;
  float: right;

}
nav ul li{
  display: inline-block;
}
nav ul li a{
  position: relative;
  font-size: 17px;
  padding: 7px 13px;
  text-decoration: none;

}
h3{
color: white;
font-family: 'Barlow Condensed', sans-serif;
letter-spacing:4.75px;
font-size: 28px;
}
h1{
  color: white;
  margin:0px;
  font-size: 150px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Bellefair', serif;
}
p{
  color: white;
  width: 40%;
  line-height: 2;
  font-weight:400px;
 font-family:'Montserrat', sans-serif;
}
.Explore{
  color: gray;
  padding-top:120px;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing:4.75px;
  font-size: 28px;

}
.home-b{
  background-color: white;
  position:relative;
  left: 1000px;
  top: 170px;
  width:285px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
